{% extends "base.html" %}
{%block head%}
    <style>
        .nav-link:hover{
        background-color:#8CB898 !important ;
        }

        #rcorners1 {
            border-radius: 100px;
            background: #CBC7DE;
            padding: 20px; 
            margin: auto;
            width: auto;
            height: auto;  
            text-align: center;
        }
        
    </style>
    {%endblock%}
{%block body%}
<div class= "container-fluid p-5">
    <div class="row">
        <p>THis is first part</p>
    </div>
</div>

<div class= "container-fluid p-5">
    <div class="row">
        <p>THis is second part</p>
    </div>
</div>



{%endblock%}

