{% extends "base.html" %}
{%block head%}
    <style>
        .nav-link:hover{
        background-color:#8CB898 !important ;}
        /* color: #8CB898 !important; */
        body {
            background-color: gray;
        }
        .rectangle {
            width: 580px;
            height: auto;
            background-color: rgba(225, 255, 0, 0.834);
            border-radius: 10px;
            text-align: center;
            line-height: 20px;
            padding-top: 15px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
            margin: auto; 
            margin-top: 30px; 
            justify-content: center;
            

        }
        .text {
            color: black;
            line-height: 1.2;
            font-size: 20px; 
            font-family: Arial, sans-serif; 
        }
    </style>
    {%endblock%}
{%block body%}
    <div class="rectangle", style = "height: 50px">
        <div class="text">How to bring a potential pet home</div>
    </div>

    <div class="rectangle" style="width: 600px; height: 100px;">
        <div class="text">Step 1: Schedule an appointment with one of them. This is done through our pets page. Just select one and schedule a time to get to know them.</div>
    </div>

    <div class="rectangle" style="width: 600px; height: 60px;">
        <div class="text">Step 2: Fill out an application. This is so that we can see if you are an adequate fit for them.</div>
    </div>

    <div class="rectangle" style="width: 600px; height: 80px;">
        <div class="text">Step 3: Take them home. Once everything goes through, you will be able to take them home and have them become part of your family.</div>
    </div>

    <div class="rectangle" style="width: 280px; height: 150px;">
        <div class="text">Note: Adoption fees. <br> Puppies: $135 <br> （under 6 months）<br> Kittens: $100 <br> (under 4 months) </div>
    </div>
{%endblock%}

