{% extends "base.html" %}
{%block head%}
    <style>
        .nav-link:hover{
            background-color:#8CB898 !important ;
        }

        #rcorners1 {
            border-radius: 100px;
            background: #8CB898 !important;
            padding: 25px; 
            margin: auto;
            width: auto;
            height: auto;  
            text-align: center;
        }
       

    </style>
    {%endblock%}
{%block body%}
<div class="container p-4 justify-content-center">
    <div class= "row justify-content-center">
        <p class="fs-2 text-center ">How to bring a potential pet home</p>
    </div>
</div>

<div class="container p-4">
    <div class="row">
        <div class= "col">
            <p id="rcorners1"> Step 1: Schedule an appointment with one of them. This is done through our pets page. Just select one and schedule a time to get to know them.</p>
        </div>

        <div class="col">
            <p> image</p>
        </div>
    </div>
</div>


<div class="container p-4">
    <div class="row">
        <p id="rcorners1">Step 2: Fill out an application. This is so that we can see if you are an adequate fit for them.</p>
    </div>
</div>

<div class="container p-4 m-2">
    <div class="row justify-content-center">
        <p id="rcorners1">Step 3: Take them home. Once everything goes through, you will be able to take them home and have them become part of your family.</p>
    </div>
</div>

<div class="container p-4 m-2">
    <div class="row">
        <p id="rcorners1">Note: Adoption fees. <br> Puppies: $135 <br> (under 6 months)<br> Kittens: $100 <br> (under 4 months) </p>
    </div>
</div>



{%endblock%}

