{% extends "base.html" %}


{%block head%}

<style>
  .nav-link:hover {
    background-color: #657C99 !important;
    /* color: #657C99 !important; */

  }
</style>

{%endblock%}


{%block body%}


<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h1>Adoptable Animals</h1>
  </div>
  </br>

  <div class="container-lg">
    <div class="row row-cols-4">
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="animal's image">
          <div class="card-body">
            <h5 class="card-title"> Animal name </h5>
            <p class="card-text"> Gender: </p>
            <p class="card-text"> Age: </p>
            <a href="#" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="animal's image">
          <div class="card-body">
            <h5 class="card-title"> Animal name </h5>
            <p class="card-text"> Gender: </p>
            <p class="card-text"> Age: </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="animal's image">
          <div class="card-body">
            <h5 class="card-title"> Animal name </h5>
            <p class="card-text"> Gender: </p>
            <p class="card-text"> Age: </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="animal's image">
          <div class="card-body">
            <h5 class="card-title"> Animal name </h5>
            <p class="card-text"> Gender: </p>
            <p class="card-text"> Age: </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>
  <div class="d-flex justify-content-center">
    <a href="{{url_for('add_animal')}}" class="btn btn-primary">Add animal</a>
  </div>
  

</div>



{%endblock%}