{% extends "base.html" %}


{%block head%}

<style>
  .nav-link:hover {
    background-color: #657C99 !important;
    /* color: #657C99 !important; */

  }
</style>

{%endblock%}


{%block body%}


<div class="container-fluid p-4" >
  <div class="d-flex justify-content-center">
    <h1 style="padding-top: 30px;">Adoptable Animals</h1>
  </div>
  </br>

  <div class="container-lg" style="padding-top: 30px;">
    <div class="row row-cols-6">
      {% for animal in all_animals %}
        <div class="col-sm-3">
          <div class="card" style="margin-bottom: 25px;">
            {% if animal.image_path %}
            <img src="{{ url_for('static', filename='animal_images/' + animal.image_path)}}" class="card-img-top" alt="animal's image"
            style="max-width: 304px; max-height: 252px; object-fit: cover;">
            {% else %}
            <img src="{{ url_for('static', filename='images/default_image.jpg') }}" class="card-img-top" alt="default image"
            style="max-width: 304px; max-height: 252px; object-fit: cover;">
            {% endif %}
            
            <div class="card-body">
              <h5 class="card-title"> {{animal.name}} </h5>
              <p class="card-text"> Gender: 
                {% if animal.gender==0 %}
                  Male
                {% elif animal.gender==1 %}
                  Female
                {% elif animal.gender==2 %}
                  Neutered Male
                {% elif animal.gender==3 %}
                  Spayed Female
                {% endif %}
              </br>Age: {{animal.age}}

              </p>
              <a href=" {{url_for('animalpage', id=animal.id)}}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      {% endfor %}
      
      <!-- <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="animal's image">
          <div class="card-body">
            <h5 class="card-title"> Animal name </h5>
            <p class="card-text"> Gender: </p>
            <p class="card-text"> Age: </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
      <!-- <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="animal's image">
          <div class="card-body">
            <h5 class="card-title"> Animal name </h5>
            <p class="card-text"> Gender: </p>
            <p class="card-text"> Age: </p>
            <button href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
      <!-- <div class="col">
        <div class="card">
          <img src="..." class="card-img-top" alt="animal's image">
          <div class="card-body">
            <h5 class="card-title"> Animal name </h5>
            <p class="card-text"> Gender: </p>
            <p class="card-text"> Age: </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  </br>
  
  
  

</div>



{%endblock%}