<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title> Animal Shelter Website </title>

    
    {%block head%} 
    {%endblock%}

</head>
<body>
    <nav class ="navbar">
        <div class="navdiv">
          
            <div class="logo"><a href="#">Adoption center</a> </div> 
                <ul>
                    <li><a class="nav-link" href = "{{url_for('home')}}"> Home</a></li>
                    <li><a class="nav-link" href = "{{url_for('adoption_steps')}}">  How do I adopt?  </a></li>
                    <li><a class="nav-link" href = "{{url_for('animals')}}">  Meet the Pets </a></li>
                    <li><a class="nav-link" href = "{{url_for('testimonial')}}">  Testimonials </a></li>
                </ul>   
            
         </div>
    </nav>


{%block body%} 
{%endblock%}

<div class ='footer'>
    <nav class ="navbar-footer">
        <div class="navdiv-footer">
          
            <div class="logo"><a href="#">Adoption center</a> </div> 
                <ul>
                    <li><a class="nav-link" href = "{{url_for('home')}}"> Home </a></li>
                    <li><a class="nav-link" href = "{{url_for('adoption_steps')}}">  How do I adopt?  </a></li>
                    <li><a class="nav-link" href = "{{url_for('animals')}}">  Meet the Pets  </a></li>
                    <li><a class="nav-link" href = "{{url_for('testimonial')}}">  Testimonials </a></li>

               
                    
                </ul>   
            
         </div>
    </nav>
</div>

</body>
</html>