{% extends "base.html" %}


{%block head%}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <title>Pre-Appointment Calendar</title>
        <!-- FullCalendar from CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
        
        <style>
            .form{
                display: none;
                /* position: fixed; */
                top: 100px;
                right: 15px;
                border: 3px solid #f1f1f1;
                z-index: 9;
                padding: 15px;
                background-color: white;
                width: auto;
                height: auto;
            }
            .available-slot{
                background-color: rgb(219, 202, 227);
                cursor: pointer;
            }
            .clickable-date{
                background-color: rgb(150, 197, 199);
                cursor: pointer;
            }

            #calendar {
            max-width: 1100px;
            margin: 40px auto;
            }

            html, body {
            margin: 0;
            padding: 0;
            }


        </style>
    </head>
{%endblock%}

{%block body%}
<body>
 
    <div class="container-xl">
        <div class ="row">
            <div class="col" style="padding-bottom: 40px;">
                <a href=" {{url_for('animalpage', id=animal.id)}} " class="btn btn-primary" >Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col" >
                <div id="calendar"></div>
            </div>
            <div class="col" >
                <div class="row" style = "padding-top: 20px">
                    <h3 style="text-align: left"> Book an Appointment with {{animal.name}} </h3>
                </div>
                <div class="row">
                    <div class="form" id="form">
                        <h3>Appointment Form</h3>
                        <p id="selectedSlot"></p>
                        <form id="appointmentForm" action = '/Animals/Schedule/Save' method = 'post'>
                             <!-- Form fields go here -->
                            <label for="First_Name">First Name:</label>
                            <input type="text" id="First_Name" name="First_Name" required><br><br>

                            <label for="Last_Name">Last Name:</label>
                            <input type="text" id="Last_Name" name="Last_Name" required><br><br>

                            <label for="Email_Address">Email:</label>
                            <input type="email" id="Email_Address" name="Email_Address" required><br><br>

                            <label for="Phone_Number">Phone:</label>
                            <input type="text" id="Phone_Number" name="Phone_Number" required><br><br>

                            <label> Please select your appointment anytime between 9:00 am to 4:00 pm :</label><br><br>
                            <!-- <label for="dateTime">Date & Time:</label>
                            <input type="datetime-local" id="dateTime" name="Appoint_Date" required><br><br> -->
                            <label>Please select your appointment date and time:</label><br><br>
                            <label for="Appoint_Date">Date:</label>
                            <input type="date" id="Appoint_Date" name="Appoint_Date" required><br><br>

                            <label for="Appoint_Time">Time:</label>
                            <input type="time" id="Appoint_Time" name="Appoint_Time" required><br><br>


                            <input type="submit" value="Submit">
                            <button type="button" onclick="cancelForm()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!-- FullCalendar from JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script>
            document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth', // Change to display monthly view
                selectable: true,
                events: [], // Initialize with an empty array

                eventClick: function (info) {
                    // When a time slot is clicked, display the form popup and show the selected time slot
                    document.getElementById("form").style.display = "block";

                    var startTime = new Date(info.event.start).toLocaleString([], {year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'});
                    var endTime = new Date(info.event.end).toLocaleString([], {hour:'2-digit',minute:'2-digit'});
                    var selectedSlot = startTime+ ' - ' + endTime;
                    document.getElementById("selectedSlot").innerHTML = "Appointment: " + selectedSlot;
                },
                eventTimeFormat: { // Display event time in the format you prefer
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: false
                },
                events: [
                    // Add your event data here
                ],
                dayCellDidMount: function (cell) {
                    var dayOfWeek = cell.date.getDay();
                    if (dayOfWeek >= 1 && dayOfWeek <= 5) { // Check if the day is from Monday to Friday
                        cell.el.addEventListener('click', function () {
                            // Display the appointment form when a clickable date is clicked
                            document.getElementById("form").style.display = "block";
                        });
                        cell.el.classList.add('clickable-date'); // Add a class to style clickable dates
                    }
                }
            });
            calendar.render(); 
        });

        function submitForm(){
            document.getElementById("form").style.display = "none";
            return false;
        } 

        // Function to cancel the form
        function cancelForm() {
            document.getElementById("form").style.display = "none";   
        }
        
    </script>
</body>
{%endblock%}