{% extends "base.html" %}

{% block body %}


<div class="container p-5 ">
    {% for message in get_flashed_messages() %}

    <div class="alert alert-warning
    alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close"
    data-bs-dismiss="alert" aria-label="Close">
    </button>
    </div>

    {% endfor %}
    <h1 style="padding-top: 20px">Login</h1>
    <br><br/>
    <div class="shadow p-3 mb-5 bg-body rounded"  style="padding-bottom: 30px">
        <form method="POST">
            {{form.hidden_tag()}}
    
            {{form.username.label(class="form-label")}}
    
            {{form.username(class="form-control")}}
    
            <br/>
    
            {{form.password.label(class="form-label")}}
    
            {{form.password(class="form-control")}}
    
            <br/>
    
            {{form.submit(class="btn btn-secondary")}}
        </form>
    
    </div>
</div>

<div class="container p-5 bottom-padding:3rem">

</div>

<div class="container p-5 bottom-padding:5rem">

</div>


{%endblock%}