{% extends "base.html" %}


{%block head%}

<style>

    .nav-link:hover{
        background-color:#AD6161 !important ;
        border-radius: 50px
        /* color: #AD6161 !important; */
    
    }
    .rounded-img{
        border-radius: 50%;
        display: block;
        margin-right:auto;
        margin-left:auto;
        margin-top: 30px;
        object-fit: cover;
        object-position: center;
        /* width: 23%; */
    }

</style>

{%endblock%}


{%block body%}
<div class="container p-4">
        <h1 style="padding-top: 20px"> Customer Testimonials</h1>
        <img src= "{{ url_for('static', filename='images/p1.png') }}", class = "rounded-img",alt ="Sorry, the image could not be loaded or does not exist", width = "220", height = "210">
        <div class = "row justify-content-center">
             <i> "Adopting a cat from an animal shelter has been a transformative 
                experience in my life. The instant I laid eyes on this stunning creature with her mixed gray, white,
                 and brown fur and those captivating green eyes, I knew she was meant to be mine. Adopting a pet is 
                 not just about providing a home; it's about opening your heart to a new family member."<br>
                
                 ----Alice
                </i> 
        </div>
</div>

<div class= "container">
        <img src= "{{ url_for('static', filename='images/p2.png') }}", class = "rounded-img",alt ="Sorry, the image could not be loaded or does not exist", width = "220", height = "210">
        <div class = "row justify-content-center">
            <i> "Not only has my doggie become a loyal and loving member of my family, but he has also brought so much joy and happiness to my life.
                 He eagerly greets me when I come home, loves to go for walks, and is always ready for a game of fetch. 
                 His energy and enthusiasm are contagious, and he has helped me become more active and outgoing."<br>
                ----Johnson
               </i> 
        </div>

</div>

<div class="container p-5">
        <img src= "{{ url_for('static', filename='images/p3.png') }}", class = "rounded-img",alt ="Sorry, the image could not be loaded or does not exist", width = "220", height = "210">
        <div class = "row justify-content-center">
            <i> "The moment we saw this lively and loveable pup bounding towards us, our daughter,
                 Maggie, was instantly smitten. She has brought joy and happiness to our entire household.
                She eagerly joins in on their playtime, chases after her toys, and even curls up next to her for storytime.
                 Her presence has made our home even more lively and full of love."<br>
                ----Emma
               </i> 
        </div>
</div>
<div class="container p-5">
    <div class = "row justify-content-center">
        <a href=" {{url_for('adoption_steps')}}" class="btn btn-primary">Interested in adopting? Click here to learn about the process.</a>
    </div>
</div>







{%endblock%}
