{% extends "base.html" %}


{%block head%}
{%endblock%}


{%block body%}
</br>
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <div class="d-flex justify-content-left">
        <h1> Update Animal </h1>
    </div>
    <div>
        <form action="/Animals/Add_Animal/Update/{{animal_update.id}}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            </br>
            {{ form.age.label(class="form-label") }}
            {{ form.age(class="form-control") }}
            </br>
            {{ form.species.label(class="form=label") }}
            {{ form.species(class="form-control") }}
            </br>
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-control") }}
            </br>
            {{ form.breed.label(class="form-label") }}
            {{ form.breed(class="form-control") }}
            </br>
            {{ form.weight.label(class="form-label") }}
            {{ form.weight(class="form-control") }}
            </br>
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
            </br>
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control") }}
            </br>
            {{ form.submit(class="btn btn-primary") }}
    
        </form>
    </div>
</div>


{%endblock%}