<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title> Animal Shelter Website </title>
</head>
<body>
    <h1>Hello</h1>

    <nav class ="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">Adoption center</a> </div>
                <ul>
                    <li><a href = "home.html"> &nbsp&nbsp Home &nbsp&nbsp</a></li>
                    <li><a href = "Adoption_steps.html">  Appointment &nbsp&nbsp </a></li>
                    <li><a href = "Animals.html">  Potential&Pets &nbsp&nbsp </a></li>
                    <li><a href = "Testimonials.html">  Service &nbsp&nbsp</a></li>
                    
                </ul>   
            
         </div>
    </nav>


</body>
</html>